body{
	background-color:#FFE761;
}
#txtFirstName{
	margin-left:18px;
	border-style:solid;
	border-width:3px;
}
#txtLastName{
	margin-left:20px;
	border-style:solid;
	border-width:3px;
}
#email{
	margin-left:55px;
	border-style:solid;
	border-width:3px;
	width:215px;
}
legend{
	color:#000000;
}
fieldset{
	background-color:#aa7243;
	color:#8E2323;'
}
#title{
	font-size:35px;
	color:#8E2323;
	font-weight:bold;
}
.dropdowns{
	margin-left:9px;
	border-style:solid;
	border-width:3px;
}
.buttons{
	border-style:solid;
	border-color:black;
	color:#FFFFFF;
	border-width:3px;
	background-color:#830300;
}